/*

INDEX > HEADER

*/

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-image: url('../../../../images/index/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header .faixa {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--cor-cinza-2);
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
}

header .faixa p {
  font-family: var(--fonte-medium);
  font-size: 1rem;
  color: var(--cor-branco);
  padding: 10px 30px;
}

header .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 100%;
  max-width: 700px;
  height: 100%;
  padding: 100px;
}

header .texto h2 {
  font-family: var(--fonte-medium);
  font-size: 1.3rem;
  color: var(--cor-cinza-4);
}

header .texto h1 {
  font-family: var(--fonte-bold);
  font-size: 2.5rem;
  color: var(--cor-cinza-4);
  padding: 10px 0 0 0;
}

header .texto p {
  font-family: var(--fonte-regular);
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--cor-cinza-4);
  padding: 10px 0 15px 0;
}

header .texto button {
  font-family: var(--fonte-regular);
  font-size: 1.1rem;
  background-color: var(--cor-laranja);
  color: var(--cor-branco);
  padding: 10px 25px;
  border-radius: 50px;
  transition: all 0.3s;
}

header .texto button:hover {
  background-color: var(--cor-verde);
}

header img.imagem {
  width: 65%;
  position: absolute;
  bottom: 0;
  right: -300px;
}

/*

Responsivo

*/

@media screen and (max-width: 1000px) {
  header {
    flex-direction: column;
    justify-content: center;
    min-height: auto;
    padding: 0 30px 50px 30px;
  }
  header .texto {
    padding: 170px 0 80px 0;
  }
  header img.imagem {
    width: 100%;
    max-width: 400px;
    position: initial;
  }
  header .texto h2 {
    font-size: 1.2rem;
  }
  header .texto h1 {
    font-size: 2rem;
  }
  header .texto p {
    font-size: 1rem;
  }
  header .texto button {
    font-size: 1rem;
  }
  header .faixa p {
    font-size: 0.8rem;
    padding: 12px 30px;
  }
}
