/*

INDEX > section - propostaInvestidor

*/

section.propostaInvestidor {
  width: 100%;
  background-color: var(--cor-cinza-1);
}

section.propostaInvestidor .conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

section.propostaInvestidor .conteudo .imagem {
  width: 40%;
  background-color: var(--cor-cinza-3);
  background-image: url('../../../../images/index/carro-vidro-traseiro-logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
  border-right: 50px solid var(--cor-laranja);
}

section.propostaInvestidor .conteudo .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 60%;
  padding: 0 50px;
}

section.propostaInvestidor .conteudo .texto p {
  font-family: var(--fonte-medium);
  font-size: 1.7rem;
  line-height: 1.5;
  color: var(--cor-cinza-4);
  width: 100%;
  max-width: 600px;
}

section.propostaInvestidor .conteudo .texto button {
  font-family: var(--fonte-medium);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--cor-laranja);
  background-color: transparent;
  text-decoration: underline;
  text-align: left;
  margin: 10px 0 0 0;
  transition: all 0.3s;
}

section.propostaInvestidor .conteudo .texto button:hover {
  opacity: 0.7;
}

/*

Responsivo

*/

@media screen and (max-width: 1000px) {
  section.propostaInvestidor .conteudo {
    flex-direction: column;
  }
  section.propostaInvestidor .conteudo .imagem {
    width: 100%;
    min-height: 250px;
    border-right: 0px solid var(--cor-laranja);
    border-bottom: 20px solid var(--cor-laranja);
  }
  section.propostaInvestidor .conteudo .texto {
    width: 100%;
    padding: 30px 30px 30px 30px;
  }
  section.propostaInvestidor .conteudo .texto p {
    font-size: 1.5rem;
  }
}
